:root{
    --black: #2f2f2f;
    --white: #fff;
    --red: #f83038;
    --AMG: #a0a081;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 10%;
    height: 10%;
    padding-left: 15%;
    padding-right: 15%;
  }

  header{
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .main{
    position: relative;
    min-height: 100vh;
    background: #a0a081;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo{
    max-width: 250px;
    max-height: 150px;
    margin-top: 20%;
  }

  .navigation{
    display: flex;
    font-family: monospace;
  }

  .navigation li{
    list-style: none;
    font-size: larger;
  }

  .navigation li a{
    position: relative;
    color: var(--black);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
  }

  .navigation li a:hover{
    color: var(--white);
  }


body{
    background-color: var(--AMG);
    margin: 0px;
}

#menu{
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 20%;
    margin-right: 70%;
}

.menu-item{
    color: var(--black);
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: 'monotype-modern-display', sans-serif;
    font-weight: 600;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-items{
    margin-left: 0;
    position: relative;
    z-index: 2;
}

#menu-items:hover .menu-item{
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover{
    opacity: 1;
}

ul {
  list-style: none;
}

.container{
  margin: auto;
}

.hovring ul li img{
  display: none;
}

.hovring ul li:hover img{
  display: block;
  left: 50%;
  transition: 2s;
}