*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #2f2f2f;
    --white: #fff;
    --AMG: #a0a081;
}

h1 {
    font-family: 'monotype-modern-display', monospace;
    font-size: 6em;
}

h2{
    font-family: 'monotype-modern-display', monospace;
    margin-top: 20px;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 10%;
    height: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

  header{
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

  .main{
    position: relative;
    min-height: 100vh;
    background: #a0a081;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  .logo{
    max-width: 250px;
    max-height: 150px;
    margin-top: 20%;
    mix-blend-mode: difference;
}

  .navigation{
    display: flex;
    font-family: monospace;
    left: -2%;
}

  .navigation li{
    list-style: none;
    font-size: larger;
}

  .navigation li a{
    position: sticky;
    color: var(--black);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
}

  .navigation li a:hover{
    color: var(--white);
}

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--AMG);
}
  
  .sci{
    display: flex;
}
  
  .sci li{
    list-style: none;
}
  
  .sci li a{
    color: var(--black);
    font-size: 2em;
    margin-right: 20px;
    transition: 0.25s;
}
  
  .sci li a:hover{
    color: var(--white);
}