@font-face {
    font-family: 'basteleurM';
    src: url(fonts\basteleur-master\ttf\Basteleur-Moonlight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #2f2f2f;
    --white: #fff;
    --red: #f83038;
    --AMG: #a0a081;
}

h1 {
    font-family: 'basteleurM', sans-serif;
    font-size: 6em;
}

h2{
    font-family: 'basteleurM', monospace;
    margin-top: 20px;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 10%;
    height: 10%;
    padding-left: 15%;
    padding-right: 15%;
  }

  header{
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .main{
    position: relative;
    min-height: 100vh;
    background: #a0a081;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo{
    max-width: 250px;
    max-height: 150px;
    margin-top: 20%;
  }

  .navigation{
    display: flex;
    font-family: monospace;
  }

  .navigation li{
    list-style: none;
    font-size: larger;
  }

  .navigation li a{
    position: relative;
    color: var(--black);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
  }

  .navigation li a:hover{
    color: var(--white);
  }

  .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    z-index: 1;
  }

  .content h2{
    font-size: 5em;
    font-weight: 700;
    color: var(--black);
    text-align: center;
  }

  .btn{
    display: inline-block;
    background: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.25em;
    font-family: monospace;
    transition: 0.25s;
  }

  .btn:hover{
    letter-spacing: 3px;
  }

  .album{
    max-width: 80%;
    max-height: 70%;
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sci{
    display: flex;
  }

  .sci li{
    list-style: none;
  }

  .sci li a{
    color: var(--black);
    font-size: 2em;
    margin-right: 20px;
    transition: 0.25s;
  }

  .sci li a:hover{
    color: var(--white);
  }

  .dots{
    display: flex;
  }

  .dots .dot{
    width: 10px;
    height: 10px;
    background: var(--black);
    cursor: pointer;
    margin-left: 10px;
  }

  .dots .dot.active{
    background: var(--white);
  }

  .slider .slides{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    transition: 0.25s;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
  }

  .slider .slides.active{
    opacity: 1;
    top:50%;
  }

  .slider .slides h2{
    color: var(--white);
    font-size: x-large;
  }

  .slider .slides h2:last-child{
    text-align: center;
  }

  .slider .slides h2 span{
    color: var(--black);
    font-size: 0.75em;
    font-weight: 400;
    font-style: italic;
  }

  